node_modules
index_db
public/fonts/Inter-Black.woff
public/fonts/Inter-Black.woff2
public/fonts/Inter-BlackItalic.woff
public/fonts/Inter-BlackItalic.woff2
public/fonts/Inter-BoldItalic.woff
public/fonts/Inter-BoldItalic.woff2
public/fonts/Inter-ExtraBold.woff
public/fonts/Inter-ExtraBold.woff2
public/fonts/Inter-ExtraBoldItalic.woff
public/fonts/Inter-ExtraBoldItalic.woff2
public/fonts/Inter-ExtraLight.woff
public/fonts/Inter-ExtraLight.woff2
public/fonts/Inter-ExtraLightItalic.woff
public/fonts/Inter-ExtraLightItalic.woff2
public/fonts/Inter-italic.var.woff2
public/fonts/Inter-Italic.woff
public/fonts/Inter-Italic.woff2
public/fonts/Inter-LightItalic.woff
public/fonts/Inter-LightItalic.woff2
public/fonts/Inter-Medium.woff
public/fonts/Inter-Medium.woff2
public/fonts/Inter-MediumItalic.woff
public/fonts/Inter-MediumItalic.woff2
public/fonts/Inter-Regular.woff
public/fonts/Inter-Regular.woff2
public/fonts/Inter-roman.var.woff2
public/fonts/Inter-SemiBoldItalic.woff
public/fonts/Inter-SemiBoldItalic.woff2
public/fonts/Inter-Thin.woff
public/fonts/Inter-Thin.woff2
public/fonts/Inter-ThinItalic.woff
public/fonts/Inter-ThinItalic.woff2
public/fonts/inter.css
public/fonts/Inter.var.woff2
public/material-css/css/material-plugins.css
public/material-css/css/material-plugins.css.map
public/material-css/css/material-plugins.min.css
public/material-css/css/material-plugins.min.css.map
public/material-css/css/material.css
public/material-css/css/material.css.map
public/material-css/js/material.js
public/material-css/js/material.js.map